# Outlier Detection: Starbucks Datarobot Classifier

For this study a large corpus of tweets were mined using the Twitter timeline api.  The tweets are mainly from the largest coffee chains around the world but also include a few other coorperations such as Aflac and 20th Century Fox.

Once the tweets were mined, we were left with 16 JSON files per twitter account.  Next, Pandas, a python framework for data handling was used to mapreduce and concatenate the JSON files into one large file per twitter account.

In [6]:
import pandas as pd
#Read in 16 datasets of json from Starbucks and Caribou Coffee
CC1 = pd.read_json("data/cariboucoffee0.json")
CC2 = pd.read_json("data/cariboucoffee1.json")
CC3 = pd.read_json("data/cariboucoffee2.json")
CC4 = pd.read_json("data/cariboucoffee3.json")
CC5 = pd.read_json("data/cariboucoffee4.json")
CC6 = pd.read_json("data/cariboucoffee5.json")
CC7 = pd.read_json("data/cariboucoffee6.json")
CC8 = pd.read_json("data/cariboucoffee7.json")
CC9 = pd.read_json("data/cariboucoffee8.json")
CC10 = pd.read_json("data/cariboucoffee9.json")
CC11 = pd.read_json("data/cariboucoffee10.json")
CC12 = pd.read_json("data/cariboucoffee11.json")
CC13 = pd.read_json("data/cariboucoffee12.json")
CC14 = pd.read_json("data/cariboucoffee13.json")
CC15 = pd.read_json("data/cariboucoffee14.json")
CC16 = pd.read_json("data/cariboucoffee15.json")
CC_map_reduced = pd.concat([CC1,CC2,CC3,CC4,CC5,CC6,CC7,CC8,CC9,CC10,CC11,CC12,CC13,CC14,CC15,CC16], ignore_index=True)
CC = CC_map_reduced[["text"]]

Sbucks1 = pd.read_json("data/Starbucks0.json")
Sbucks2 = pd.read_json("data/Starbucks1.json")
Sbucks3 = pd.read_json("data/Starbucks2.json")
Sbucks4 = pd.read_json("data/Starbucks3.json")
Sbucks5 = pd.read_json("data/Starbucks4.json")
Sbucks6 = pd.read_json("data/Starbucks5.json")
Sbucks7 = pd.read_json("data/Starbucks6.json")
Sbucks8 = pd.read_json("data/Starbucks7.json")
Sbucks9 = pd.read_json("data/Starbucks8.json")
Sbucks10 = pd.read_json("data/Starbucks9.json")
Sbucks11 = pd.read_json("data/Starbucks10.json")
Sbucks12 = pd.read_json("data/Starbucks11.json")
Sbucks13 = pd.read_json("data/Starbucks12.json")
Sbucks14 = pd.read_json("data/Starbucks13.json")
Sbucks15 = pd.read_json("data/Starbucks14.json")
Sbucks16 = pd.read_json("data/Starbucks15.json")
Sbucks_map_reduced = pd.concat([Sbucks1,Sbucks2,Sbucks3,Sbucks4,Sbucks5,Sbucks6,Sbucks7,Sbucks8,Sbucks9,Sbucks10,Sbucks11,Sbucks12,Sbucks13,Sbucks14,Sbucks15,Sbucks16], ignore_index=True)
Sbucks = Sbucks_map_reduced[["text"]]
Sbucks.head()

                                                text
0  Who makes your world a little brighter? #GiveG...
1  @mkuntz0872 Unfortunately we no longer offer s...
2  @nellyann76 It's all yours! You can order it n...
3  @chanelsarianas That sounds amazing! Thanks fo...
4  @mikeholliday1 We hope it was just the cozy eg...

Once the JSONs are organized and tested by brand, we concatenate the brands that are not Starbucks into a Dataframe using Pandas to our class of tweets that will be in the class opposing our Starbucks class:example: anti = pd.concat([DD,Mcds,TH,COCO,CC,bk])

In [7]:
anti = CC

Next we take our two classes being from Starbucks twitter account and NOT from Starbucks twitter account and write the mto a csv file so we can prepare them for the Datarobot api

In [8]:
filename = 'starbucks.csv'
Sbucks.to_csv(filename, index=False, header=False, encoding='utf-8')

filename1 = 'other.csv'
anti.to_csv(filename1, index=False, header=False, encoding='utf-8')